<div style="margin:10px">
	<div class="colorPreview" style="background: #fde3a7;" data-color="#fde3a7" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #f5d76e;" data-color="#f5d76e" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #f4d03f;" data-color="#f4d03f" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #f7ca18;" data-color="#f7ca18" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #f4b350;" data-color="#f4b350" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #f9bf3b;" data-color="#f9bf3b" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #f5ab35;" data-color="#f5ab35" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #f39c12;" data-color="#f39c12" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #ffcda2;" data-color="#ffcda2" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #ffc067;" data-color="#ffc067" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #ffde49;" data-color="#ffde49" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #f89406;" data-color="#f89406" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #f2784b;" data-color="#f2784b" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #f7711d;" data-color="#f7711d" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #fd6709;" data-color="#fd6709" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #d35400;" data-color="#d35400" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #ffaea5;" data-color="#ffaea5" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #ff8f83;" data-color="#ff8f83" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #e45242;" data-color="#e45242" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #e54030;" data-color="#e54030" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #fa391f;" data-color="#fa391f" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #f22613;" data-color="#f22613" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #d91e18;" data-color="#d91e18" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #9c000b;" data-color="#9c000b" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #f8d1cc;" data-color="#f8d1cc" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #f1a9a0;" data-color="#f1a9a0" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #e08283;" data-color="#e08283" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #e26a6a;" data-color="#e26a6a" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #f75757;" data-color="#f75757" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #f64747;" data-color="#f64747" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #f62459;" data-color="#f62459" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #db0a5b;" data-color="#db0a5b" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #dcc6e0;" data-color="#dcc6e0" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #be90d4;" data-color="#be90d4" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #a971c0;" data-color="#a971c0" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #9b59b6;" data-color="#9b59b6" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #8e44ad;" data-color="#8e44ad" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #913d88;" data-color="#913d88" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #663399;" data-color="#663399" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #9a12b3;" data-color="#9a12b3" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #e4f1fe;" data-color="#e4f1fe" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #81cfe0;" data-color="#81cfe0" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #52b3d9;" data-color="#52b3d9" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #22a7f0;" data-color="#22a7f0" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #4183d7;" data-color="#4183d7" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #2574a9;" data-color="#2574a9" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #223f93;" data-color="#223f93" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #2c3e50;" data-color="#2c3e50" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #d4f6dd;" data-color="#d4f6dd" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #a2ded0;" data-color="#a2ded0" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #4ecdc4;" data-color="#4ecdc4" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #68c3a3;" data-color="#68c3a3" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #2ecc71;" data-color="#2ecc71" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #26c281;" data-color="#26c281" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #00b16a;" data-color="#00b16a" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #008b4f;" data-color="#008b4f" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #f7cbac;" data-color="#f7cbac" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #ef9b5f;" data-color="#ef9b5f" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #ea7e31;" data-color="#ea7e31" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #d36415;" data-color="#d36415" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #ba5130;" data-color="#ba5130" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #b45512;" data-color="#b45512" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #96470e;" data-color="#96470e" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #67310a;" data-color="#67310a" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #ffffff;" data-color="#ffffff" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #faf9f8;" data-color="#faf9f8" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #ececec;" data-color="#ececec" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #dadfe1;" data-color="#dadfe1" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #d2d7d3;" data-color="#d2d7d3" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #bdc3c7;" data-color="#bdc3c7" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #abb7b7;" data-color="#abb7b7" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #95a5a6;" data-color="#95a5a6" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #9aa5b0;" data-color="#9aa5b0" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #7e8b99;" data-color="#7e8b99" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #6c7a89;" data-color="#6c7a89" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #56616d;" data-color="#56616d" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #47505a;" data-color="#47505a" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #383f47;" data-color="#383f47" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #292e34;" data-color="#292e34" (click)="sendData($event)"></div>
	<div class="colorPreview" style="background: #121517;" data-color="#121517" (click)="sendData($event)"></div>
	<div style="margin:20px">
		<strong>Couleur personnalisée</strong>
		<input id="optionColor" type="text" placeholder="#000000" [(ngModel)]="per" (change)="sendData($event)">
</div>
</div>