<div  mwlResizable
      [enableGhostResize]="true"
      [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
      (resizeEnd)="onResizeEnd($event)" 
 class="ligneClass" 
[ngStyle]="{
    'top.px':(this.ligneObject.y)-((this.ligneObject.y)%60),
    'left.px':(this.ligneObject.x-(this.ligneObject.x%90)),
    'width.px':width-(this.ligneObject.mleft+this.ligneObject.mright),
'height.px':height-(this.ligneObject.mtop+this.ligneObject.mbottom),
    'position':'absolute',
  'margin-top.px':ligneObject.mtop,
'margin-right.px':ligneObject.mright,
'margin-bottom.px':ligneObject.mbottom,
'margin-left.px':ligneObject.mleft}"
    (click)="clicked($event)" (dblclick)="open()" 
    (clickOutside)="onClickedOutside($event)">

   <div class="sizeleft {{sizeDiv}}"></div>
   <div class="sizeleftcorner {{sizeDiv}}"></div>
   <div class="sizetopcorner {{sizeDiv}}" ></div>
   <div class="sizebottomcorner {{sizeDiv}}"></div>
   <div class="sizerightcorner {{sizeDiv}}"></div>
   <div class="sizeright {{sizeDiv}}"></div>
   <div class="sizetop {{sizeDiv}}"></div>
   <div class="sizebottom {{sizeDiv}}"></div>
   <div *ngIf="done">
   <div *ngIf="clich" 
   [ngStyle]="{'height.px':this.ligneObject.epai,'position':'absolute',
   'top':'50%','width':'100%','background-color':this.ligneObject.color}">
  </div>
   <div *ngIf="clicv" 
   [ngStyle]="{'height':'100%',
   'position':'absolute','left':'50%','width.px':this.ligneObject.epai,'background-color':this.ligneObject.color}">
  </div>
   </div>
</div>
<modal #modal>
    <modal-header>
        <h4 class="modal-title">Type de ligne</h4>
    </modal-header>
    <modal-body>
      <div class="row">
        
           <div class="col-md-2">
      <img class="vh {{clich}}" src="/assets/apps/img/horisontale.png" (click)="addClassh()">
    </div>
    <div class="col-md-2">
      <img class="vh {{clicv}}" src="/assets/apps/img/vertical.png" (click)="addClassv()">
        </div>
   
      </div>
    </modal-body>
    <modal-footer>
       <button type="button" class="btn btn-default" data-dismiss="modal" (click)="annuler()">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="save();close()">Enregistrer</button>
    </modal-footer>
</modal>
