<div class="page-header navbar navbar-fixed-top">
   <div class="page-header-inner ">
        <div class="page-logo">
            <img src="assets\apps\img\SimplyCE1.png" alt="logo" class="logo-default" /> 
        </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    </div>
</div>
<div class="clearfix"> </div>
<div class="page-container">
    <div class="row">
        <app-container></app-container>
    </div>
</div>
    
<div class="page-footer">
    <div class="page-footer-inner"> 2017 &copy; Simply CE.</div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>